@bc_color :#eeeeee; // 北京
@basic_span: 4px;

.whole-area {
  background-color: @bc_color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cron {
  overflow: hidden;

  min-width: 600px;
  min-height: 400px;
  margin-top: 100px;

  h1 {
    font-size: 50px;
    text-align: center;
  }

  &_input {
    height: 42px;
    line-height: 42px;
    font-size: 1.5rem;
  }

  &_tabs {
    margin-top: @basic_span;
    background-color: #f5f5f5;

    // border: 1px solid grey;
    &_tabContent {
      min-height: 240px;
      padding-bottom: @basic_span;
    }

    &_bottom {
      background-color: #fff;
      display: flex;
      justify-content: center;
      padding: 2*@basic_span 0px;
    }
  }

  [nz-button] {
    margin-right: 2*@basic_span;
  }

  :host {
    background: #f5f5f5;
    overflow: hidden;
    padding: 24px;
    display: block;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar {
    border-color: #fff;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }

  .card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }

  // 取消form下方用于验证的margin
  .card-container ::ng-deep.ant-form-item {
    margin-bottom: @basic_span;
  }

}
